@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        <div>
            Hello from /Home/Index
            (logged with claim '@Request.GetOwinContext().Authentication.User.Claims.FirstOrDefault(x => x.Type == "name")')
            <br/>
            Log out here, @Html.ActionLink("Logout", "Logout").
        </div>
    </body>
</html>
