@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
<div>
    Click to login, for demo purposes
    <br/>
    @using (Html.BeginForm())
    {
        <input type="submit" value="Log in"/>
    }
</div>
</body>
</html>
