@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
</head>
<body>
<div>
    Logged out, @Html.ActionLink("Login", "Login") again.
</div>
</body>
</html>
